.dashboard-container {
    padding: 20px;
    color: #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 20px;
    width: 90%;
}

.dashboard-header .dashboard-nav {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
}

.nav-button {
    background-color: transparent;
    border: 0px;
    color: #94a3b8;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
}

.nav-button:hover {
    background-color: #505050;
    color: #f8fafc;
}

.nav-button.active {
    background-color: #505050;
    color: #f8fafc;
}

.dashboard-content {
    width: 90%;
}