.manager-container {
    display: flex;
    flex-direction: column;
}

.registration-area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.registration-area input {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.registration-area button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.registration-area .input-name {
    width: 50%;
}

.btn-register {
    background-color: #0b6136;
}
.btn-cancel {
    background-color: #898989;
}
.btn-save {
    background-color: #0284c7;
}

.registration-area .btn-register:hover {
    background-color: #08833d;
}
.registration-area .btn-cancel:hover {
    background-color: #9d9d9d;
}
.registration-area .btn-save:hover {
    background-color: #149de1;
}