.people-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-container .people-registration-area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.people-container .people-registration-area input {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.people-container .people-registration-area .people-input-name {
    width: 50%;
}

.people-container .people-registration-area .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.people-container .people-registration-area .btn-register {
    background-color: #0b6136;
}
.people-container .people-registration-area .btn-save {
    background-color: #0b3a61;
}
.people-container .people-registration-area .btn-cancel {
    background-color: #3d3d3d;
}

.people-container .people-registration-area .btn-register:hover {
    background-color: #0c7e45;
}
.people-container .people-registration-area .btn-save:hover {
    background-color: #105c9b;
}
.people-container .people-registration-area .btn-cancel:hover {
    background-color: #6e6e6e;
}
