.header-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
}

.header-navigation-area {
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
    transition: 0.3s;
    gap: 20px;
}

.header-nav-link {
    color: #e2e8f0;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.header-nav-link:hover {
    background-color: #505050;
}