.transaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction-container .transaction-registration-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.transaction-container .transaction-registration-area input,
.transaction-container .transaction-registration-area select {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: #e2e8f0;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.transaction-input-area .transaction-inputs-numerics {
    display: flex;
    gap: 10px;
}

.transaction-select-area select {
    cursor: pointer;
}

.transaction-select-area,
.transaction-input-area {
    display: flex;
    width: 100%;
}

.transaction-input-area {
    flex-direction: column;
}

.transaction-input-description{
    flex-grow: 1;
}

.transaction-input-value {
    width: 20%;
    text-align: right;
}

.transaction-select-area {
    gap: 10px;
}

.transaction-select-area .transaction-select-type,
.transaction-select-area .transaction-select-people,
.transaction-select-area .transaction-select-category {
    flex-grow: 1;
}

.btn-register {
    background-color: #0b6136;
    color: #e3e3e3;
    font-weight: bold;
    border: none;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-register:hover {
    background-color: #0c7e45;
}