.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container .category-registration-area {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.category-container .category-inputs-btns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category-container .category-registration-area .category-input-description {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}

.category-select-purpose {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.category-btn-register {
    background-color: #0b6136;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.category-btn-register:hover {
    background-color: #0c7e45;
}