.manager-container {
    display: flex;
    flex-direction: column;
}

.registration-area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.registration-area .input-description {
    width: 300px;
}

.select-purpose {
    background-color: rgb(25, 33, 36);
    border: 1px solid rgb(51, 82, 91);
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* Estiliza as opções dentro do select (funciona em alguns navegadores) */
.select-purpose option {
    background-color: rgb(35, 43, 46);
    color: white;
}