.people-list-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.people-list-container .people-table {
    background-color: rgb(35, 43, 46);
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

.people-list-container h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.people-list-container .people-table th {
    background-color: rgb(37, 53, 58);
    color: #e2e8f0;
}

.people-table th, .people-table td {
    border-top: 1px solid rgb(31, 62, 71);
    padding: 10px;
    text-align: left;
}

/* --- EFEITO ZEBRA --- */
/* Pinta as linhas ímpares (odd) com uma cor levemente mais clara ou escura */
.people-list-container .people-table tbody tr:nth-child(odd) {
    background-color: rgb(38, 48, 52); 
}

.people-list-container .people-table tbody tr:hover {
    background-color: rgb(45, 80, 92);
    transition: background-color 0.3s ease;
}

.people-list-container .people-table th {
    border-top: none;
}

.people-list-container .people-actions-cell {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Primeira coluna (Nome) */
.people-list-container .people-table th:nth-child(1),
.people-list-container .people-table td:nth-child(1) {
    width: 60%;
    text-align: left;
}

/* Segunda coluna (Idade) */
.people-list-container .people-table th:nth-child(2),
.people-list-container .people-table td:nth-child(2) {
    width: 20%;
    text-align: left;
}

/* Terceira coluna (Operações) */
.people-list-container .people-table th:nth-child(3),
.people-list-container .people-table td:nth-child(3) {
    width: 20%;
    text-align: left;
}

.people-list-container .people-btn-edit, .people-list-container .people-btn-delete {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
}

.people-list-container .people-btn-edit {
    background-color: #0b3a61;
    color: white;
}

.people-list-container .people-btn-edit:hover {
    background-color: #0d5e8d;
}

.people-list-container .people-btn-delete {
    background-color: #770909;
    color: white;
}

.people-list-container .people-btn-delete:hover {
    background-color: #991b1b;
}